@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


header{
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}


.home{
    margin-left: 537px;
}

.about, .contact{
    margin-left: 66px;
}

.title{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
    font-weight: bold;
    font-family: FiraGO;
}


.card{
    width: 350px;
    height: 487 px;
    border: 1px solid black;
    padding: 11px;
    display: inline-block;
    margin-left: 72px;
    font-family: Poppins;
}



.title1{
    padding: 10px;
    font-weight: bold;
}

.description{
    padding: 10px;
}


.see{
    margin-top: 10px;
    margin-left: 280px;
    width: 70px;
    height: 35px;
}

.second, .third{
    margin-left: 50px;
}


.footer{
    
    margin-left: 131px;
}



.about{
    text-align: center;
    text-decoration-color: 7D0000;
}


.about-section {
    padding: 50px;
    text-align: center;
    
    color: black;
    font-family: Poppins;
    text-align: center;

}

.about-the-company, .cont{
    color: #7D0000;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: bold;
}


.lorem{
    width: 450px;
    margin-left: 350px;
    margin-top: 118px;
    font-size: 22px;
    font-weight: bold;
    font-family: open Sans;  
    text-align: justify;
}


.mail{
text-decoration: underline;
text-align: justify;
margin-left: 300px;
margin-top: 100px;
font-size: 20px;
font-weight: bold;
font-style: italic;

}

.address, .number{
    text-align: justify;
    margin-left: 300px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


.addr{
    font-style: italic;
    font-size: 25px;
    margin-top: 40px;
    margin-right: 250px;
}


.first{
    margin-left: 55px;
    margin-top: 90px;
}

.scnd{
    margin-left: 500px;
    margin-top: -55px;

}

.thrd{
    margin-left: 900px;
    margin-top: -50px;
}